.container {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  height: 400px;
  background: #fff;

  .msg {
    background-color: var(--main-color);
    width: 500px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px auto;
    padding: 10px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      border-left: 8px solid #000;
      padding-left: 10px;
    }

    button {
      background-color: var(--main-color);
      border: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        width: 400px;
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
      }

      textarea {
        width: 400px;
        height: 200px;
        padding: 10px;
        font-size: 16px;
      }

      button {
        background: var(--main-color);
        border: none;
        color: white;
        width: 200px;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .content {
    margin-top: 30px;

    table {
      border-spacing: 0;
      border: 1px solid #ededed;
      width: 100%;
      text-align: center;

      tr:nth-child(2n) {
        background-color: #fafafa;
      }

      th {
        padding: 15px;
      }

      td {
        padding: 5px 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          object-fit: cover;
        }

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          gap: 10px;

          .edit {
            color: teal;
            cursor: pointer;
          }

          .delete {
            color: tomato;
            cursor: pointer;
          }
        }
      }
    }
  }
}
