.container {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  height: 400px;
  background: #fff;

  h3 {
    border-left: 8px solid #000;
    padding-left: 10px;
  }

  .content {
    margin-top: 30px;

    table {
      border-spacing: 0;
      border: 1px solid #ededed;
      width: 100%;
      text-align: center;

      tr:nth-child(2n) {
        background-color: #fafafa;
      }

      th {
        padding: 15px;
      }

      td {
        padding: 5px 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          gap: 10px;

          .edit {
            color: teal;
            cursor: pointer;
          }

          .delete {
            color: tomato;
            cursor: pointer;
          }
        }
      }
    }
  }
}
