.container {
  flex: 2;
  height: 400px;
  background: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: column;

  h3 {
    border-left: 8px solid #000;
    padding-left: 10px;
  }

  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
